# Node modules
node_modules/
.env

# Logs & Cache
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.cache/

# Production Build
dist/
build/

# IDE Files
.vscode/
.idea/
.DS_Store

# Database & Uploads
uploads/